<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgregaProveedorDlg" widgetVar="AgregaProveedorDialog" modal="true" resizable="false" appendTo="@(body)" header="Agrega Proveedores a #{agendaController.selected.nombre}">
            <h:form id="AgregaProveedorForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="1" rendered="#{agendaController.selected != null}">
                         <p:pickList id="pickList" value="#{proveedoresController.findAllByIdAgenda(agendaController.selected)}" var="proveedores" itemLabel="#{proveedores}" itemValue="#{proveedores}" />
                    </p:panelGrid>
                    <p:commandButton value="#{agenda3.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AgregaProveedorDialog');"/>
                    <p:commandButton value="#{agenda3.Cancel}" onclick="AgregaProveedorDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
