<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgregaEmpleadosDlg" widgetVar="AgregaEmpleadosDialog" modal="true" resizable="false" appendTo="@(body)" header="Agrega Empleados a #{agendaController.selected.nombre}">
            <h:form id="AgregaEmpleadosForm">
                <p:growl id="msg" showDetail="true" escape="false" />
                <h:panelGroup id="display">                    
                    <p:panelGrid columns="1" rendered="#{agendaController.selected != null}">                                                    
                        <p:pickList id="pickList" value="#{empleadosController.empleados}" var="empleados" itemLabel="#{empleados.nombre}" itemValue="#{empleados}" >
                            <f:facet name="sourceCaption">Disponibles</f:facet>
                            <f:facet name="targetCaption">En Reunión</f:facet>                            
                        </p:pickList>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reunionempleadosController.insertManyEmployees(empleadosController.empleados.target, agendaController.selected)}" value="#{agenda3.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AgregaEmpleadosDialog');"/>
                    <p:commandButton value="#{agenda3.Cancel}" onclick="AgregaEmpleadosDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
