<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Agenda Colaborativa</title>
            </f:facet>
        </h:head>

        <h:body>
        <!--ui:composition template="templates/busqueda.xhtml"-->
            <p:layout fullPage="true">

                  <p:layoutUnit position="north" size="100">
                    <p:graphicImage  library="img" name="agenda.jpg"/>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    
                    <p align="right"> <b>Cerrar Sesion</b></p>
                </p:layoutUnit>
               <p:layoutUnit position="center" resizable="true"  >                   
                   <div align="center">
                       <p align="right">Sesion:</p>
                    <h:form>
                        <p:dataTable  var="agendados" paginator="true" >
                        <f:facet name="caption">Reuniones Agendadas</f:facet>
                        <p:column>
                                <f:facet name="header">
                                    TIPO
                                </f:facet>
                            </p:column>
                        <p:column>
                                <f:facet name="header">
                                    AREA
                                </f:facet>
                            </p:column>
                        <p:column>
                                <f:facet name="header">
                                    NOMBRE DEL AREA
                                </f:facet>
                            </p:column>
                        <p:column>
                                <f:facet name="header">
                                    FECHA
                                </f:facet>
                            </p:column>
                        <p:column>
                                <f:facet name="header">
                                    HORA
                                </f:facet>
                            </p:column>
                        <p:column>
                                <f:facet name="header">
                                    LISTADO DE PARTICIPANTES
                                </f:facet>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>     
                </p:layoutUnit>

            </p:layout>
            <!--/ui:composition-->
        </h:body>

    </f:view>
</html>
