<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpleadosCreateDlg" widgetVar="EmpleadosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateEmpleadosTitle}">
            <h:form id="EmpleadosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empleadosController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateEmpleadosLabel_idEmpleados}" for="idEmpleados" />
                        <p:inputText id="idEmpleados" value="#{empleadosController.selected.idEmpleados}" title="#{agenda.CreateEmpleadosTitle_idEmpleados}" required="true" requiredMessage="#{agenda.CreateEmpleadosRequiredMessage_idEmpleados}"/>
                        <p:outputLabel value="#{agenda.CreateEmpleadosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{empleadosController.selected.nombre}" title="#{agenda.CreateEmpleadosTitle_nombre}" required="true" requiredMessage="#{agenda.CreateEmpleadosRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.CreateEmpleadosLabel_apellido}" for="apellido" />
                        <p:inputText id="apellido" value="#{empleadosController.selected.apellido}" title="#{agenda.CreateEmpleadosTitle_apellido}" required="true" requiredMessage="#{agenda.CreateEmpleadosRequiredMessage_apellido}"/>
                        <p:outputLabel value="#{agenda.CreateEmpleadosLabel_emailP}" for="emailP" />
                        <p:inputText id="emailP" value="#{empleadosController.selected.emailP}" title="#{agenda.CreateEmpleadosTitle_emailP}" required="true" requiredMessage="#{agenda.CreateEmpleadosRequiredMessage_emailP}"/>
                        <p:outputLabel value="#{agenda.CreateEmpleadosLabel_emailE}" for="emailE" />
                        <p:inputText id="emailE" value="#{empleadosController.selected.emailE}" title="#{agenda.CreateEmpleadosTitle_emailE}" required="true" requiredMessage="#{agenda.CreateEmpleadosRequiredMessage_emailE}"/>
                        <p:outputLabel value="#{agenda.CreateEmpleadosLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{empleadosController.selected.telefono}" title="#{agenda.CreateEmpleadosTitle_telefono}" required="true" requiredMessage="#{agenda.CreateEmpleadosRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{agenda.CreateEmpleadosLabel_nss}" for="nss" />
                        <p:inputText id="nss" value="#{empleadosController.selected.nss}" title="#{agenda.CreateEmpleadosTitle_nss}" required="true" requiredMessage="#{agenda.CreateEmpleadosRequiredMessage_nss}"/>
                        <p:outputLabel value="#{agenda.CreateEmpleadosLabel_idUsers}" for="idUsers" />
                        <p:selectOneMenu id="idUsers" value="#{empleadosController.selected.idUsers}" required="true" requiredMessage="#{agenda.EditEmpleadosRequiredMessage_idUsers}">
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idUsersItem"
                                           itemValue="#{idUsersItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{empleadosController.create}" value="#{agenda.Save}" update="display,:EmpleadosListForm:datalist,:growl" oncomplete="handleSubmit(args,'EmpleadosCreateDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="EmpleadosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
