<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templateAgenda.xhtml">

        <ui:define name="title">
        </ui:define>

        <ui:define name="headerX">
            <p:graphicImage  library="img" name="agenda.jpg"/> 
        </ui:define>

        <ui:define name="leftSideBar">
            <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                <p:menu>
                    <p:menuitem value="Cerrar Sesion" outcome="index" /> 
                    <p:submenu label="Edición" >             
                        <p:menuitem value="Incio" outcome="vista_Administrador" />
                        <p:menuitem value="Empleados" outcome="/editar_empleado" />
                        <p:menuitem value="Provedores" outcome="/editar_proveedor"  />
                        <p:menuitem value="Lugares" outcome="editar_lugares" />
                    </p:submenu>
                </p:menu>

            </p:layoutUnit>
        </ui:define>

        <ui:define name="body">
            <h:form id="LugaresListForm">
                <p:panel header="Editar Lugares">
                    <p:dataTable id="datalist" value="#{lugaresController.items}" var="item"
                                 selectionMode="single" selection="#{lugaresController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idLugares}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListLugaresTitle_idLugares}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLugares}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListLugaresTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda2.ListLugaresTitle_capcidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.capcidad}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda2.Create}" actionListener="#{lugaresController.prepareCreate}" update=":LugaresCreateForm" oncomplete="PF('LugaresCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda2.Edit}" update=":LugaresEditForm" oncomplete="PF('LugaresEditDialog').show()" disabled="#{empty lugaresController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda2.Delete}" actionListener="#{lugaresController.destroy}" update=":growl,datalist" disabled="#{empty lugaresController.selected}"/>

                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Editl.xhtml"/>
            <ui:include src="Createl.xhtml"/>

        </ui:define>
    </ui:composition>

</html>
