<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templateAgenda.xhtml">

        <ui:define name="title">
        </ui:define>

        <ui:define name="headerX">
            <p:graphicImage  library="img" name="agenda.jpg"/>

        </ui:define>

        <ui:define name="leftSideBar">
            <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                <p:menu>
                    <p:menuitem value="Cerrar Sesion" outcome="index" /> 
                    <p:submenu label="Edición" >                   
                        <p:menuitem value="Incio" outcome="vista_Administrador" />
                        <p:menuitem value="Empleados" outcome="/editar_empleado" />
                        <p:menuitem value="Provedores" outcome="/editar_proveedor"  />
                        <p:menuitem value="Lugares" outcome="editar_lugares" />
                    </p:submenu>
                </p:menu>
            </p:layoutUnit>
        </ui:define>

        <ui:define name="body">
            <h:form id="EmpleadosListForm">
                <p:panel header="Editar Empleados">
                    <p:dataTable id="datalist" value="#{empleadosController.items}" var="item"
                                 selectionMode="single" selection="#{empleadosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idEmpleados}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEmpleadosTitle_idEmpleados}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEmpleados}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEmpleadosTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEmpleadosTitle_apellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellido}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEmpleadosTitle_emailP}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailP}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEmpleadosTitle_emailE}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailE}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEmpleadosTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEmpleadosTitle_nss}"/>
                            </f:facet>
                            <h:outputText value="#{item.nss}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEmpleadosTitle_idUsers}"/>
                            </f:facet>
                            <h:outputText value="#{item.idUsers}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda.Create}" actionListener="#{empleadosController.prepareCreate}" update=":EmpleadosCreateForm" oncomplete="PF('EmpleadosCreateDialog').show()"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda.Edit}" update=":EmpleadosEditForm" oncomplete="PF('EmpleadosEditDialog').show()" disabled="#{empty empleadosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda.Delete}" actionListener="#{empleadosController.destroy}" update=":growl,datalist" disabled="#{empty empleadosController.selected}"/>

                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Edite.xhtml"/>
            <ui:include src="Createe.xhtml"/>

        </ui:define>
    </ui:composition>

</html>
