<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgendaEditDlg" widgetVar="AgendaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda3.EditAgendaTitle}">
            <h:form id="AgendaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_tipo}" for="tipo2" />
                        <p:selectOneMenu id="tipo2" value="#{agendaController.selected.tipo}" disabled="true" binding="#{rowx2}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_duracion}">
                            <f:selectItem itemLabel="Reunión" itemValue="0" />
                            <f:selectItem itemLabel="Evento" itemValue="1" />
                            <f:validator validatorId="durationValidator" />
                            <f:attribute name="duration" value="#{duration2}" />
                        </p:selectOneMenu>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_duracion}" for="duracion2" />
                        <p:inputText id="duracion2" value="#{agendaController.selected.duracion}" title="#{agenda.CreateAgendaTitle_tipo}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_tipo}"
                                     binding="#{duration2}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_nombre}" for="nombre2" />
                        <p:inputText id="nombre2" value="#{agendaController.selected.nombre}" title="#{agenda.CreateAgendaTitle_nombre}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_fecha}" for="fecha2" />
                        <p:calendar id="fecha2" pattern="MM/dd/yyyy" value="#{agendaController.selected.fecha}" title="#{agenda.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_fecha}" binding="#{dateS2}" showOn="button">
                            <f:validator validatorId="datexValidator" />
                            <f:attribute name="type" value="#{rowx2}" />
                        </p:calendar>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_hora}" for="hor2" />
                        <p:inputText id="hor2" value="#{agendaController.selected.hora}" binding="#{hor2}" title="#{agenda.EditAgendaTitle_hora}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_hora}" >
                            <f:convertDateTime pattern="HH:mm" timeZone="America/Mexico_City"/>
                        </p:inputText>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_participantes}" for="participantes2" />
                        <p:inputText id="participantes2" value="#{agendaController.selected.participantes}" title="#{agenda.CreateAgendaTitle_participantes}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_participantes}">
                            <f:validator validatorId="capcityValidator" />
                            <f:attribute name="lugar" value="#{lugaresController.findById(place2)}" />
                        </p:inputText>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_area}" for="area2" />
                        <p:inputText id="area2" value="#{agendaController.selected.area}" title="#{agenda.CreateAgendaTitle_area}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_area}"/>

                        <p:outputLabel value="#{agenda3.CreateAgendaLabel_fechaIncioReg}" for="fechaIncioReg2"  rendered="#{agendaController.selected.tipo == 1}"/>
                        <p:calendar id="fechaIncioReg2" pattern="MM/dd/yyyy" rendered="#{agendaController.selected.tipo == 1}" value="#{agendaController.selected.fechaIncioReg}" title="#{agenda3.EditAgendaTitle_fechaIncioReg}"  showOn="button">
                            <f:validator validatorId="regDateValidator" />
                            <f:attribute name="type" value="#{rowx2}" />
                            <f:attribute name="dateS" value="#{dateS2}" />
                        </p:calendar>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_lugaresidLugares}" for="lugaresidLugares2" />
                        <p:selectOneMenu id="lugaresidLugares2" value="#{agendaController.selected.idLugares}" 
                                         required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_lugaresidLugares}"
                                         binding="#{place2}">
                            <f:selectItems value="#{lugaresController.itemsAvailableSelectOne}"
                                           var="lugar"
                                           itemValue="#{lugar}"
                                           itemLabel="#{lugar.nombre}"/>
                            <f:validator validatorId="availableValidator" />
                            <f:attribute name="lugarD" value="#{agendaController.findByFechaAndLugar(dateS2,lugaresController.findById(place2))}" />
                            <f:attribute name="hora" value="#{hor2}"/>
                            <f:attribute name="duracion" value="#{duration2}"/>
                            <f:attribute name="idx" value="#{agendaController.selected.idAgenda}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{agendaController.update}" value="#{agenda3.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AgendaEditDialog');"/>
                   
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
