<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Agenda Colaborativa</title>
                <h:outputStylesheet name="css/jsfcrud.css"/>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

            <p:layoutUnit position="north" size="100">
                <p:graphicImage  library="img" name="agenda.jpg"/>
            </p:layoutUnit>


                <p:layoutUnit position="center">                        
                    <div align="right">
                        <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
                        <h:panelGrid>
                            <p:commandButton value="Inciar Sesión" update=":LoginForm"  type="button" onclick="PF('LoginDialog').show();"/>
                        </h:panelGrid>

                    </div>
                    <div align="center">
                        <p:carousel value="#{agendaController.items2}" var="items" autoPlayInterval = "4000"  effect = "fade"  circular = "true" 
                                    itemStyleClass="carItem" headerText = "Eventos" style="width: 100%" itemStyle="width: 400px; height: 400px;">
                            <p:column>
                                
                                <h:panelGrid columns="1" style="width:100%" cellpadding="5" >
                                    
                                    <p:graphicImage value="/resources/img/#{imagenes.foto}.jpg" />                                   
                                    
                                    <h:outputText value="#{items.nombre}" />                  
                                    <h:outputText value="#{items.idLugares.nombre}" />                                                                     
                                    <h:outputText  value="#{items.fecha}">
                                        <f:convertDateTime pattern="EEEEEEEEEE d 'de' MMMMMMMMM 'del' yyyy" locale="es_MX"/>
                                    </h:outputText>  
                                    <h:outputText value="#{items.hora}">
                                        <f:convertDateTime pattern="HH:mm" timeZone="America/Mexico_City" />
                                    </h:outputText>
                                    <h:outputText value="#{items.fechaIncioReg}" >
                                        <f:convertDateTime pattern="EEEEEEEEEE d 'de' MMMMMMMMM 'del' yyyy" locale="es_MX"/>
                                    </h:outputText>
                                    <h:outputText value="#{items.fechaFinReg}">
                                        <f:convertDateTime pattern="EEEEEEEEEE d 'de' MMMMMMMMM 'del' yyyy" locale="es_MX"/>
                                    </h:outputText>
                                                                    
                                   
                                    
                                </h:panelGrid>
                                     

                            </p:column>
                        </p:carousel>
                    </div>
                </p:layoutUnit>                   
            </p:layout>

            <p:dialog id="LoginDlg" widgetVar="LoginDialog" modal="true" resizable="false" appendTo="@(body)" header="Login">
                <h:form id="LoginForm">
                    <p:panel header="Login"  > 
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Usuario: " for="usu" />
                            <p:inputText id="usu" label="Usuario" required="true"  value="#{usuariosController.username}">
                                <p:tooltip for="usu" value="Introduzca su Usuario"></p:tooltip>
                            </p:inputText>
                            <p:outputLabel value="Contraseña: " for="pwd" />
                            <h:inputSecret id="pwd" label="pwd" required="true" binding="#{pwd}" value="#{usuariosController.password}">
                                <p:tooltip for="pwd" value="Introduzca su Contraseña"></p:tooltip>
                            </h:inputSecret>
                        </p:panelGrid>
                        <p:captcha label="Captcha" theme="clean" validatorMessage="Codigo incorrecto"  required="true" requiredMessage="Es necesario el codigo" />                                        
                    </p:panel>
                    <p:commandButton value="Entrar" action="#{usuariosController.page}" actionListener="#{usuariosController.loginxw}" update="growl"  oncomplete="handleLoginRequest(xhr, status, args)"  ajax="false" icon="ui-icon-check" />
                </h:form>
            </p:dialog>
        </h:body>
    </f:view>
</html>

