<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgendaCreateDlg" widgetVar="AgendaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda3.CreateAgendaTitle}">
            <h:form id="AgendaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_tipo}" for="tipo" />
                        <p:selectOneMenu id="tipo" value="#{agendaController.selected.tipo}" binding="#{rowx}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_duracion}">
                            <f:selectItem itemLabel="Reunión" itemValue="0" />
                            <f:selectItem itemLabel="Evento" itemValue="1" />
                            <f:validator validatorId="durationValidator" />
                            <f:attribute name="duration" value="#{duration}" />
                        </p:selectOneMenu>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_duracion}" for="duracion" />
                        <p:inputText id="duracion" value="#{agendaController.selected.duracion}" title="#{agenda.CreateAgendaTitle_tipo}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_tipo}"
                                     binding="#{duration}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{agendaController.selected.nombre}" title="#{agenda.CreateAgendaTitle_nombre}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{agendaController.selected.fecha}" title="#{agenda.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_fecha}" binding="#{dateS}" showOn="button">
                            <f:validator validatorId="datexValidator" />
                            <f:attribute name="type" value="#{rowx}" />
                        </p:calendar>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_hora}" for="hora" />
                        <p:inputText id="hora" value="#{agendaController.selected.hora}" binding="#{hora}" title="#{agenda.EditAgendaTitle_hora}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_hora}" >
                            <f:convertDateTime pattern="HH:mm" timeZone="America/Mexico_City"/>
                        </p:inputText>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_participantes}" for="participantes" />
                        <p:inputText id="participantes" value="#{agendaController.selected.participantes}" title="#{agenda.CreateAgendaTitle_participantes}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_participantes}">
                            <f:validator validatorId="capcityValidator" />
                            <f:attribute name="lugar" value="#{lugaresController.findById(place)}" />
                        </p:inputText>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_area}" for="area" />
                        <p:inputText id="area" value="#{agendaController.selected.area}" title="#{agenda.CreateAgendaTitle_area}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_area}"/>

                        <p:outputLabel value="#{agenda3.CreateAgendaLabel_fechaIncioReg}" for="fechaIncioReg" />
                        <p:calendar id="fechaIncioReg" pattern="MM/dd/yyyy" value="#{agendaController.selected.fechaIncioReg}" title="#{agenda3.EditAgendaTitle_fechaIncioReg}"  showOn="button">
                            <f:validator validatorId="regDateValidator" />
                            <f:attribute name="type" value="#{rowx}" />
                            <f:attribute name="dateS" value="#{dateS}" />
                        </p:calendar>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_lugaresidLugares}" for="lugaresidLugares" />
                        <p:selectOneMenu id="lugaresidLugares" value="#{agendaController.selected.idLugares}" 
                                         required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_lugaresidLugares}"
                                         binding="#{place}">
                            <f:selectItems value="#{lugaresController.itemsAvailableSelectOne}"
                                           var="lugar"
                                           itemValue="#{lugar}"
                                           itemLabel="#{lugar.nombre}"/>
                            <f:validator validatorId="availableValidator" />
                            <f:attribute name="lugarD" value="#{agendaController.findByFechaAndLugar(dateS,lugaresController.findById(place))}" />
                            <f:attribute name="hora" value="#{hora}"/>
                            <f:attribute name="duracion" value="#{duration}"/>
                            <f:attribute name="idx" value="#{agendaController.selected.idAgenda}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{agendaController.create}" value="#{agenda3.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args,'AgendaCreateDialog');"/>
                    
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
