<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Agenda Colaborativa</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="65" header="#{agenda.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{agenda.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{agenda.Maintenance}">
                            <p:menuitem value="Agenda" outcome="/agenda/List.xhtml" />
                            <p:menuitem value="AutoRegistro" outcome="/autoRegistro/List.xhtml" />
                            <p:menuitem value="Empleados" outcome="/empleados/List.xhtml" />
                            <p:menuitem value="Eventoparticipantes" outcome="/eventoparticipantes/List.xhtml" />
                            <p:menuitem value="Lugares" outcome="/lugares/List.xhtml" />
                            <p:menuitem value="Proveedores" outcome="/proveedores/List.xhtml" />
                            <p:menuitem value="Reunionempleados" outcome="/reunionempleados/List.xhtml" />
                            <p:menuitem value="Reunionproveedores" outcome="/reunionproveedores/List.xhtml" />
                            <p:menuitem value="Usuarios" outcome="/usuarios/List.xhtml" />
                        </p:submenu>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
