<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VerInvitDlg" widgetVar="VerInvitDialog" modal="true" resizable="false" appendTo="@(body)" header="invitados a la reunion">
            <h:form id="VerInvitForm">
                <h:panelGroup id="display">
                    <p:panelGrid  rendered="#{agendaController.selected != null}" >
                        <p:dataList value="#{reunionempleadosController.getItems4(agendaController.selected)}" var="emp" type="ordered">
                            #{emp.idEmpleados.nombre}  #{emp.idEmpleados.apellido}                       
                        </p:dataList>
                        <p:dataList value="#{reunionproveedoresController.getItems4(agendaController.selected)}" var="prov" type="ordered">
                            #{prov.idProveedores.nombreContacto}   #{prov.idProveedores.nombre}                     
                        </p:dataList>
                    </p:panelGrid>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
