<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VerConfDlg" widgetVar="VerConfDialog" modal="true" resizable="false" appendTo="@(body)" header="confirmados al evento">
            <h:form id="VerConfForm">
                <h:panelGroup id="display">
                    <p:panelGrid  rendered="#{agendaController.selected != null}" >
                        <p:dataList value="#{eventoparticipantesController.getItems4(agendaController.selected)}" var="emp" type="ordered">
                            #{emp.idAutoRegistro.nombre}   #{emp.idAutoRegistro.apellido} #{emp.idAutoRegistro.empresa}                        
                        </p:dataList>
                    </p:panelGrid>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
