<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Agenda Colaborativa</title>
            </f:facet>
            <h:outputStylesheet library="css" name="jsfcrud.css"/>
            <h:outputScript library="js" name="jsfcrud.js"/>
        </h:head>

        <h:body>
            <p:growl id="growl" life="3000" />

            <p:layout fullPage="true">


                <p:layoutUnit position="north" size="100">
                    <p:graphicImage  library="img" name="agenda.jpg"/> 
                </p:layoutUnit>          

                <p:layoutUnit position="west" size="175" header="Busqueda" collapsible="true">                   
                    <p:growl id="messages" showDetail="true"/> 
                    <h:form>
                        <p:slideMenu>   
                            <p:menuitem value="Cerrar Sesion" outcome="index" /> 
                            <p:submenu label="Reunion">
                                <p:submenu label="Fecha/Hora">                                    
                                    <p:menuitem>
                                        <p:outputLabel for="calfecha" value="Fecha:" />
                                        <p:calendar id="calfecha"/>
                                    </p:menuitem>
                                    <p:menuitem>
                                        <p:outputLabel for="inphora" value="Hora:" />
                                        <br/>
                                        <p:inputMask mask="99:99" id="inphora"/>
                                    </p:menuitem>
                                    <p:menuitem><p:button value="Buscar"/></p:menuitem>
                                </p:submenu>                            
                                <p:submenu label="Nombre/Lugar">
                                    <p:menuitem>
                                        <p:outputLabel for="selnombre" value="Nombre:" />
                                        <p:selectOneMenu id="selnombre" editable="true" value="#{dtMenuViewBean.nombre}">
                                            <f:selectItems value="#{dtMenuViewBean.nombres}"/>
                                        </p:selectOneMenu>
                                    </p:menuitem>
                                    <p:menuitem>
                                        <p:outputLabel for="sellugar" value="Lugar:" />
                                        <p:selectOneMenu id="sellugar" editable="true" value="#{dtMenuViewBean.lugar}">
                                            <f:selectItems value="#{dtMenuViewBean.lugares}"/>
                                        </p:selectOneMenu>
                                    </p:menuitem>
                                    <p:menuitem><p:commandButton value="Buscar" actionListener="#{dtMenuViewBean.filterByNombreAndLugarAndReunion()}" update="dt"/></p:menuitem>
                                </p:submenu>
                            </p:submenu>     
                            <p:submenu label="Evento">
                                <p:submenu label="Fecha/Hora">                                    
                                    <p:menuitem>
                                        <p:outputLabel for="calfecha2" value="Fecha:" />
                                        <p:calendar id="calfecha2"/>
                                    </p:menuitem>
                                    <p:menuitem>
                                        <p:outputLabel for="inphora2" value="Hora:" />
                                        <br/>
                                        <p:inputMask mask="99:99" id="inphora2"/>
                                    </p:menuitem>
                                    <p:menuitem><p:button value="Buscar"/></p:menuitem>
                                </p:submenu>                            
                                <p:submenu label="Nombre/Lugar">
                                    <p:menuitem>
                                        <p:outputLabel for="selnombre2" value="Nombre:" />
                                        <p:selectOneMenu id="selnombre2" editable="true" value="#{dtMenuViewBean.nombre}">
                                            <f:selectItems value="#{dtMenuViewBean.nombres}"/>
                                        </p:selectOneMenu>
                                    </p:menuitem>
                                    <p:menuitem>
                                        <p:outputLabel for="sellugar2" value="Lugar:" />
                                        <p:selectOneMenu id="sellugar2" editable="true" value="#{dtMenuViewBean.lugar}">
                                            <f:selectItems value="#{dtMenuViewBean.lugares}"/>
                                        </p:selectOneMenu>
                                    </p:menuitem>
                                    <p:menuitem><p:commandButton value="Buscar" actionListener="#{dtMenuViewBean.filterByNombreAndLugarAndEvento()}" update="dt"/></p:menuitem>
                                </p:submenu>
                            </p:submenu>     
                            <p:submenu label="Fecha">
                                <p:menuitem><p:calendar/></p:menuitem>
                                <p:menuitem><p:button value="Buscar"/></p:menuitem>
                            </p:submenu>                            
                        </p:slideMenu>          
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <p:panel header="Lista de Eventos">
                        <p:dataTable value="#{dtMenuViewBean.lista}" var="item" widgetVar="tbl" id="dt">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{agenda.ListAgendaTitle_tipo}"/>
                                </f:facet>
                                <h:outputText value="Reunion" rendered="#{item.tipo == '0'}"/>
                                <h:outputText value="Evento" rendered="#{item.tipo == '1'}"/>
                            </p:column>                               
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{agenda.ListAgendaTitle_area}"/>
                                </f:facet>
                                <h:outputText value="#{item.area}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{agenda.ListAgendaTitle_nombre}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{agenda.ListAgendaTitle_lugaresidLugares}"/>
                                </f:facet>
                                <h:outputText value="#{item.idLugares.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{agenda.ListAgendaTitle_fecha}"/>
                                </f:facet>
                                <h:outputText value="#{item.fecha}">
                                    <f:convertDateTime pattern="EEEEEEEEEE d 'de' MMMMMMMMM 'del' yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{agenda.ListAgendaTitle_hora}"/>
                                </f:facet>
                                <h:outputText value="#{item.hora}">
                                    <f:convertDateTime pattern="HH:mm" timeZone="America/Mexico_City" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{agenda.ListAgendaTitle_participantes}"/>
                                </f:facet>
                                <h:outputText value="#{item.participantes}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </p:layoutUnit>                
            </p:layout>
        </h:body>

    </f:view>
</html>