<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templateAgenda.xhtml">

        <ui:define name="title">
            <h:outputText value="#{agenda3.ListAgendaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="headerX">
            <p:graphicImage  library="img" name="agenda.jpg"/>
        </ui:define>

        <ui:define name="leftSideBar">
            <p:layoutUnit position="west" size="175" header="Menú Del Gerente" collapsible="true">




                <p:menu>
                    <p:menuitem value="Cerrar Sesion" outcome="index" /> 
                    <p:submenu label="Edición" >     
                        <p:menuitem>
                            <p:commandButton  value="Nuevo Evento/Reunion" actionListener="#{agendaController.prepareCreate}" update=":AgendaCreateForm" oncomplete="PF('AgendaCreateDialog').show();"/> 
                        </p:menuitem>

                    </p:submenu>
                </p:menu>


            </p:layoutUnit>
        </ui:define>

        <ui:define name="body">
            <h:form id="AgendaListForm">

                <p:panel header="Agenda General">
                    <p:dataTable id="datalist" value="#{agendaController.items}" var="item"
                                 selectionMode="single" selection="#{agendaController.selected}"
                                 rowKey="#{item.idAgenda}">

                        <p:ajax event="rowSelect"   update="addProveedor editButton deleteButton addEmpleado listInvitados listConfirmados"/>
                        <p:ajax event="rowUnselect" update="addProveedor editButton  deleteButton addEmpleado listInvitados listConfirmados"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_idAgenda}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAgenda}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="Reunion" rendered="#{item.tipo == '0'}"/>
                            <h:outputText value="Evento" rendered="#{item.tipo == '1'}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_duracion}" />

                            </f:facet>
                            <h:outputText value="#{item.duracion} Minutos"/>

                            <h:outputText value="&lt;br /&gt;Perido de Registo&lt;br /&gt;" escape="false" rendered="#{item.tipo == '1'}" style="font-weight:bold"/>
                            <h:outputText value=" del " rendered="#{item.tipo == '1'}"/>
                            <h:outputText value="#{item.fechaIncioReg}" rendered="#{item.tipo == '1'}">
                                <f:convertDateTime pattern="EEEEE d  " />
                            </h:outputText>
                            <h:outputText value=" al " rendered="#{item.tipo == '1'}"/>
                            <h:outputText value="#{item.fechaFinReg}" rendered="#{item.tipo == '1'}"> 
                                <f:convertDateTime pattern="EEEE d 'de' MMMMMMM 'de' YYYY" />
                            </h:outputText>

                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="EEEEEEEEEE d 'de' MMMMMMMMM 'del' yyyy" locale="es_MX"/>
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_hora}"/>
                            </f:facet>
                            <h:outputText value="#{item.hora}">
                                <f:convertDateTime pattern="HH:mm" timeZone="America/Mexico_City" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_participantes}"/>
                            </f:facet>
                            <h:outputText value="#{item.participantes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_area}"/>
                            </f:facet>
                            <h:outputText value="#{item.area}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListAgendaTitle_lugaresidLugares}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLugares.nombre}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton  update=":AgregaProveedorDlg" oncomplete="PF('AgregaProveedorDialog').show()" disabled="#{!agendaController.isReunion}"/>
                            <p:commandButton id="addProveedor"  icon="ui-icon-plus" value="Agregar Proveedores" actionListener="#{reunionempleadosController.prepareCreate}" update=":AgregaEmpleadosDlg" oncomplete="PF('AgregaEmpleadosDialog').show()" disabled="#{!agendaController.isReunion}"/>

                            <p:commandButton id="addEmpleado"  icon="ui-icon-plus" value="Agregar Empleados" actionListener="#{reunionempleadosController.prepareCreate}" update=":AgregaEmpleadosDlg" oncomplete="PF('AgregaEmpleadosDialog').show()" disabled="#{!agendaController.isReunion}"/>
                            <p:commandButton id="listInvitados"  value="Ver Participantes"  update=":VerInvitDlg" oncomplete="PF('VerInvitDialog').show()"  disabled="#{!agendaController.isReunion}" />
                            <p:commandButton id="listConfirmados"  value="Ver Participantes Confirmados"  update=":VerConfDlg" oncomplete="PF('VerConfDialog').show()" disabled="#{!agendaController.isEvento}"  />
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Editar" update=":AgendaEditDlg" oncomplete="PF('AgendaEditDialog').show()" disabled="#{!agendaController.isNnullx}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Eliminar" actionListener="#{agendaController.destroy}" update=":growl,datalist" disabled="#{!agendaController.isNnullx}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>
            <ui:include src="nuevoEventoReunion.xhtml"/>
            <ui:include src="AgregaProveedor2.xhtml"/>
            <ui:include src="AgregaEmpleado2.xhtml"/>
            <ui:include src="EditaEventoReunion.xhtml"/>
            <ui:include src="verParticipantes.xhtml"/>
            <ui:include src="verInvit.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
