<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Agenda Colaborativa</title>
            </f:facet>
            <h:outputStylesheet library="css" name="jsfcrud.css"/>
            <h:outputScript library="js" name="jsfcrud.js"/>
        </h:head>

        <h:body>
            <p:growl id="growl" life="3000" />

            <p:layout fullPage="true">


                <p:layoutUnit position="north" size="100">
                    <p:graphicImage  library="img" name="agenda.jpg"/>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Busqueda" collapsible="true">                   
                    <p:growl id="messages" showDetail="true"/>                    
                    <p:slideMenu>      
                        <p:menuitem value="Cerrar Sesion" outcome="index" /> 
                        <p:submenu label="Reunion">
                            <p:submenu label="Fecha">
                                <p:menuitem>
                                    <p:calendar/>
                                </p:menuitem>
                                <p:menuitem>
                                    <p:button value=" Buscar"/>
                                </p:menuitem>
                            </p:submenu>                            
                            <p:submenu label="Nombre">
                                <p:menuitem>
                                    <p:inputText placeholder="Nombre"/>
                                </p:menuitem>
                                <p:menuitem>
                                    <p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Lugar"><p:menuitem><p:inputText placeholder="Lugar"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                        </p:submenu>
                        <p:submenu label="Evento">
                            <p:submenu label="Fecha"><p:menuitem><p:calendar/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Nombre"><p:menuitem><p:inputText placeholder="Nombre"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                            <p:submenu label="Lugar"><p:menuitem><p:inputText placeholder="Lugar"/></p:menuitem><p:menuitem><p:button value=" Buscar"/></p:menuitem></p:submenu>
                        </p:submenu>                      
                        <p:submenu label="Fecha">
                            <p:menuitem>
                                <p:calendar/>
                            </p:menuitem>
                            <p:menuitem>
                                <p:button value=" Buscar"/>
                            </p:menuitem>
                        </p:submenu>                            
                    </p:slideMenu>

                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form id="AgendaListForm">
                        <p:panel header="Lista de Eventos">
                            <p:dataTable id="datalist" value="#{agendaController.findByReunionProv(4)}" var="item">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_tipo}"/>
                                    </f:facet>
                                    <h:outputText value="Reunion" rendered="#{item.tipo == '0'}"/>
                                    <h:outputText value="Evento" rendered="#{item.tipo == '1'}"/>
                                </p:column>                               
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_area}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.area}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_nombre}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.nombre}"/>
                                </p:column>                                
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_fecha}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.fecha}">
                                        <f:convertDateTime pattern="EEEEEEEEEE d 'de' MMMMMMMMM 'del' yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_hora}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.hora}">
                                        <f:convertDateTime pattern="HH:mm" timeZone="America/Mexico_City" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{agenda.ListAgendaTitle_participantes}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.participantes}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>
