<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templateAgenda.xhtml">

        <ui:define name="title">
        </ui:define>

        <ui:define name="headerX">
            <p:graphicImage  library="img" name="agenda.jpg"/>

        </ui:define>

        <ui:define name="leftSideBar">
            <p:layoutUnit position="west" size="175" header="Menú Administrador" collapsible="true">
                <p:menu>
                    <p:menuitem value="Cerrar Sesion" outcome="index" /> 
                    <p:submenu label="Edición" >      
                        <p:menuitem value="Incio" outcome="vista_Administrador" />
                        <p:menuitem value="Empleados" outcome="/editar_empleado" />
                        <p:menuitem value="Provedores" outcome="/editar_proveedor"  />
                        <p:menuitem value="Lugares" outcome="editar_lugares" />
                    </p:submenu>
                </p:menu>
            </p:layoutUnit>
        </ui:define>

        <ui:define name="body">

            <h:form >


                <p:dataTable id="multipleDT" var="participantes" 
                             value="#{eventoparticipantesController.items}" 
                             selectionMode="multiple" 
                             selection="#{eventoparticipantesController.selectedCars}" 
                             rowKey="#{participantes.idEventoParticipantes}">
                    <f:facet name="header">
                        Posibles Invitados
                    </f:facet>
                    <p:column headerText="Nombre">
                        #{participantes.idAutoRegistro.nombre}  #{participantes.idAutoRegistro.apellido}
                    </p:column>
                    <p:column headerText="Apellido">
                        #{participantes.idAutoRegistro.apellido}
                    </p:column>
                    <p:column headerText="E-mail">
                        #{participantes.idAutoRegistro.emailP}
                    </p:column>
                    <p:column headerText="Empresa">
                        #{participantes.idAutoRegistro.empresa}
                    </p:column>

                    <f:facet name="footer">
                        <p:commandButton value="Enviar Invitaciones" actionListener="#{eventoparticipantesController.enviarInvitaciones()}" update="growl,multipleDT" disabled="#{!eventoparticipantesController.isViernes}"/>  
                        <p:commandButton value="Confirmar Invitaciones" actionListener="#{eventoparticipantesController.confirmarInvitaciones()}" update="growl,multipleDT" disabled="#{!eventoparticipantesController.isJueves}" />  

                        <p:commandButton process="multipleDT" update="growl,multipleDT" value="Eliminar" actionListener="#{eventoparticipantesController.eliminar}" disabled="#{!eventoparticipantesController.isViernes}"/>
                    </f:facet>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
